.aruta__dashboard {
  &-container {
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: $default-font-family;
    font-size: $default-font-size;
    height: 100vh;
    overflow: hidden;
  }
  &-content {
    width: 100%;
    height: 100%;
    background-color: $color-offWhite;
    position: relative;
    left: 17.5rem;
    width: calc(100% - 17.5rem);
    min-height: 100vh;
    padding: 2.5rem 3.75rem;
    overflow-y: scroll;
  }
}
.aruta__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 13.4375rem repeat(2, 1fr);
  gap: 1.25rem;

  .widget {
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
    background-image: $gradient-primary;
  }

  .recentOrders {
    grid-column: 1/4;
    grid-row: 2/-1;
  }
}
