.aruta__dashboard {
  &-container {
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: $default-font-family;
    font-size: $default-font-size;
    min-height: 100vh;
  }
  &-content {
    width: 100%;
    height: 100%;
    background-color: $color-offWhite;
    position: relative;
    left: 28rem;
    width: calc(100% - 28rem);
    min-height: 100vh;
    padding: 4rem 6rem;
  }
}
