.aruta__topbar {
  display: flex;
  // align-items: center;
  background-color: $color-white;
  margin-bottom: 4rem;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 65.5%, 0.16);
  .topbar__search {
    flex-grow: 1;
    position: relative;
    padding: 2rem;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(2rem, -55%);
      width: 2rem;
      height: 2rem;
      z-index: 10;
      opacity: 1;
      background: url("../images/icon-search.svg");
      background-size: cover;
    }
    input {
      background: transparent;
      border: 0px;
      outline: none;
      box-shadow: none;
      color: $color-black;
      font-size: 1.4rem;
      padding-left: 3rem;
      position: relative;
    }
    ::placeholder {
      font-size: 1.4rem;
      color: #b3bbcb;
    }
  }
  .topbar__side {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-left: 0.2rem solid #f2f2f2;
    &-user {
      display: flex;
      align-items: center;
      span {
        color: $color-black;
        font-weight: 500;
        font-size: 1.2rem;
      }
      button {
        background-color: #4bb5e0;
        border: 0px;
        margin-left: 0.5rem;
        padding: 0.3rem .8rem;
        font-size: 1.6rem;
      }
      img {
        max-width: 4.8rem;
        margin-right: 0.5rem;
      }
    }
    &-notification {
      margin-left: 2rem;
      background-color: #041d54;
      padding: 1rem;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      position: relative;
      &:after {
        position: absolute;
        content: "2";
        color: $color-white;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 25rem;
        transform: translate(1rem, -1rem);
      }
      img {
        width: 1.8rem;
      }
    }
  }
}
