.auth__template{
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: $default-font-family;
    color: $color-purple;
    font-size: $default-font-size;
    min-height: 100vh;
}