.forget-password {
  color: $color-white;
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: $color-white;
  }
  .sub {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 200;
    margin-top: 1.25rem;
  }

  .fp-form {
    padding: 2.25rem 0;
    .form-group {
      margin-bottom: 1.6rem;
    }
    label {
      font-size: 0.875rem;
      font-weight: bold;
    }
    input {
      background-color: transparent;
      outline: none;
      height: 3rem;
      border-radius: 25rem;
      color: $color-white;
      border-color: $color-white;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0 1.4375rem;
    }
    ::placeholder {
      color: $color-white;
      font-size: 0.875rem;
    }
  }
  .back-link {
    text-align: center;

    font-size: 0.875rem;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
}
