.login {
  color: $color-white;
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: $color-white;
  }
  .sub {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 200;
    margin-top: 1.25rem;
    a {
      color: $color-blue;
      text-decoration: none;
      font-weight: bold;
      margin-left: 0.3125rem;
    }
  }
  .social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    @media (max-width: 341px) {
      flex-direction: column;
      justify-content: center;
      a:first-child {
        margin-bottom: 0.625rem;
      }
    }
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 0.875rem;
      text-align: center;
      padding: 0.94rem 2.19rem;
      border-radius: 25rem;
    }
    a.fb {
      background-color: #3c66c4;
      color: $color-white;
      margin-right: 0.825rem;
    }
    a.gmail {
      color: $color-grey;
      background-color: $color-white;
      img {
        margin-right: 0.825rem;
        max-width: 1.25rem;
      }
    }
  }
  .login-form {
    padding: 2.5rem 0;
    .form-group {
      margin-bottom: 1.56rem;
    }
    .links {
      display: flex;
      justify-content: space-between;
      .fp {
        font-size: 0.875rem;
        text-decoration: none;
      }
    }
    label {
      font-size: 0.875rem;
      font-weight: bold;
    }
    input {
      background-color: transparent;
      outline: none;
      height: 3rem;
      border-radius: 25rem;
      color: $color-white;
      border-color: $color-white;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0 1.44rem;
    }
    ::placeholder {
      color: $color-white;
      font-size: 0.875rem;
    }
    .rm {
      label {
        font-weight: 200;
        outline: none;
        padding-left: 0.3rem;
        margin-top: -0.3rem;
        &:before,
        &:after {
          background-color: transparent;
        }
      }
    }
  }
}
