.reset-password {
  color: $color-white;
  min-width: 25rem;
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: $color-white;
  }

  .rp-form {
    padding: 2.5rem 0;
    .form-group {
      margin-bottom: 1.6rem;
    }
    label {
      font-size: 0.875rem;
      font-weight: bold;
    }
    input {
      background-color: transparent;
      outline: none;
      height: 3rem;
      border-radius: 1.5625rem;
      color: $color-white;
      border-color: $color-white;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0 1.4rem;
    }
    ::placeholder {
      color: $color-white;
      font-size: 0.875rem;
    }
  }
}
