.forget-password {
  color: $color-white;
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    color: $color-white;
  }
  .sub {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 2rem;
  }

  .fp-form {
    padding: 4rem 0;
    .form-group {
      margin-bottom: 2.5rem;
    }
    label {
      font-size: 1.4rem;
      font-weight: bold;
    }
    input {
      background-color: transparent;
      outline: none;
      height: 4.8rem;
      border-radius: 25rem;
      color: $color-white;
      border-color: $color-white;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 0 2.3rem;
    }
    ::placeholder {
      color: $color-white;
      font-size: 1.4rem;
    }
  }
  .back-link {
    text-align: center;

    font-size: 1.4rem;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
}
